
@font-face {
    font-family: 'stingrayregular';
    src: url('../font/titre/stingray-webfont.woff2') format('woff2'),
         url('../font/titre/stingray-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sanford_book';
    src: url('../font/corps/sanford-0103_demo-webfont.woff2') format('woff2'),
         url('../font/corps/sanford-0103_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Coolors Exported Palette - coolors.co/4b87bc-5eb745-765009-fbfbf8-000000 */

/* HSL */
$color1: hsla(208%, 46%, 52%, 1);
$color2: hsla(107%, 45%, 49%, 1);
$color3: hsla(39%, 86%, 25%, 1);
$color4: hsla(60%, 27%, 98%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(75, 135, 188, 1);
$color2: rgba(94, 183, 69, 1);
$color3: rgba(118, 80, 9, 1);
$color4: rgba(251, 251, 248, 1);
$color5: rgba(0, 0, 0, 1);